@tailwind base;
@tailwind components;
@tailwind utilities;

body.modal-open {
  overflow: hidden;
}

.cursor {
  display: none;
}

.cursor {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 75px;
  height: 75px;
  background-color: var(--white);
  mix-blend-mode: exclusion;
  border-radius: var(--radius-circle);
  transform: translate(-50%, -50%) scale(0.35);
  transition: transform 0.35s;
  pointer-events: none;
  z-index: 5000;
}

.cursor.hovered {
  transform: translate(-50%, -50%) scale(1.2);
}

.cursor.disabled {
  transform: translate(-50%, -50%) scale(0);
}
