@tailwind base;
@tailwind components;
@tailwind utilities;

body.modal-open {
  overflow: hidden;
}
.scrollbar::-webkit-scrollbar {
  width: 15px;
  height: 6px;
  background-color: #5e5c5d;
  padding: 2px;
  margin: 2px;
  border-radius: 99px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(126 34 206);
  border-radius: 99px;
  padding: 2px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(149, 146, 151);
}
.scrollbarMain::-webkit-scrollbar {
  width: 15px;
  height: 6px;
  background-color: #5e5c5d;
  padding: 2px;
  margin: 2px;
}

.scrollbarMain::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);

  padding: 2px;
}

.scrollbarMain::-webkit-scrollbar-thumb:hover {
  background: rgb(27, 27, 27);
}
.scrollbarwhite::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  background-color: #181818;
  padding: 2px;
  margin: 2px;
  border-radius: 999px;
}

.scrollbarwhite::-webkit-scrollbar-thumb {
  background: rgb(39, 214, 71);
  padding: 2px;
  border-radius: 999px;
}

.scrollbarwhite::-webkit-scrollbar-thumb:hover {
  background: rgb(74 222 128);
}
